<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frutiger Space Wiki - News</title>
    <link rel="stylesheet" href="pages/css/styles.css">
    <link rel="icon" href="assets/FrutigerWikiLogo.png" type="image/x-icon"> 
</head>
<body> <!-- This page will be loaded at runtime as a overlay displaying news of the wiki or development assuming it gets traffic. -->
    <div class="news-container">

    </div>
</body>
</html>